@{
    ViewData["Title"] = "Home Page";
}
@section css{ <link href="~/css/cards.css" rel="stylesheet" /> }

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">IcartE Management Portal</h1>
                    <p class="lead text-white-50 mb-4">The home for all your management needs!</p>
                    @*<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</header>
<div class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Demand Forecasting</h2>
                <p>Find out which categories are going to be in demand soon and start planning ahead.</p>
                <a class="text-decoration-none" href="#!">
                    Go
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Promotion Planning</h2>
                <p>Figure out which products should go on promotion and by how much to discount it.</p>
                <a class="text-decoration-none" href="#!">
                    Go
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            
        </div>
    </div>
</div>
