@{
    ViewData["Title"] = "Home Page";
}
@section css{ <link href="~/css/cards.css" rel="stylesheet" /> }

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">IcartE Management Portal</h1>
                    <p class="lead text-white-50 mb-4">The home for all your management needs!</p>
                    @*<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</header>
<div class="py-4" id="features">
    <div class="container px-5">
        <div class="row gx-5 mb-lg-5 text-center">
            <div class="col-lg-6">
                <div class="feature bg-primary bg-gradient rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2  class="h4 fw-bolder text-dark">Product Management</h2>
                <p class="font-weight-light w-50 mx-auto">Manage your products selection with ease.</p>
              
            </div>
            <div class="col-lg-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder text-dark">Stock Management</h2>
                <p class="font-weight-light w-50 mx-auto">Keep track on all your stocks everywhere.</p>
              
            </div>
            
        </div>
           <div class="row gx-5 text-center">
            <div class="col-lg-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder text-dark">Sales Monitoring</h2>
                <p class="font-weight-light w-50 mx-auto">Measure your business performance by obtaining live sales data.</p>
              
            </div>
            <div class="col-lg-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder text-dark">Demand Forecasting</h2>
                <p class="font-weight-light w-50 mx-auto">Find out what future demand looks like to make better plans.</p>
              
            </div>
            
        </div>
    </div>
</div>
